<ngx-letters-avatar 
  avatarName="Girgis Abdelmalak" 
  [circular]="true"
  fontFamily="Open Sans"></ngx-letters-avatar>
<ngx-letters-avatar 
  avatarName="Girgis Abdelmalak" 
  [circular]="true"
  [width]="120"
  src="https://avatars2.githubusercontent.com/u/11912956?s=460&u=9d9c42a55881f00fa4e1345e1af5f6795b5fd107&v=4"></ngx-letters-avatar>
  
<ngx-letters-avatar 
  avatarName="Your name" 
  [borderRadius]="7"
  fontFamily="Open Sans"></ngx-letters-avatar>
<ngx-letters-avatar 
  avatarName="Another name" 
  [width]="80"
  fontFamily="Open Sans"></ngx-letters-avatar>
  
  <!-- <div *ngFor="let user of users">
    {{ user.name }}
    <ngx-letters-avatar 
      [avatarText]="user.name" 
      [width]="40" 
      [height]="40" 
      [circular]="true"
      [borderRadius]="5"
      fontFamily="Open Sans"></ngx-letters-avatar>
  </div> -->