<ngx-letters-avatar 
  avatarText="Girgis Abdelmalak" 
  [circular]="true"
  fontFamily="Open Sans"></ngx-letters-avatar>
  
<ngx-letters-avatar 
  avatarText="Your name" 
  [borderRadius]="7"
  fontFamily="Open Sans"></ngx-letters-avatar>
<ngx-letters-avatar 
  avatarText="Another name" 
  [width]="80"
  [height]="80"
  fontFamily="Open Sans"></ngx-letters-avatar>
  
  <!-- <div *ngFor="let user of users">
    {{ user.name }}
    <ngx-letters-avatar 
      [avatarText]="user.name" 
      [width]="40" 
      [height]="40" 
      [circular]="true"
      [borderRadius]="5"
      fontFamily="Open Sans"></ngx-letters-avatar>
  </div> -->